@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

/*ajout à minireset les liens*/
body {
  font-family: "Roboto", sans-serif;
}

input[type=search]:focus {
  outline: none;
}

a:visited {
  color: black;
}

.btn {
  padding: 0.6rem 1.6rem;
  box-shadow: 0 4px 8px #aaaaaa;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.card {
  padding: 10px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px #aaaaaa;
  margin: 10px 20px;
}
.card--flex {
  display: flex;
  justify-content: space-between;
}

.header {
  text-align: center;
  padding: 10px;
  position: relative;
}
.header__logo {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
.header__arrow {
  text-align: start;
  font-size: 1.3rem;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background-color: #353535;
  color: white;
  padding: 15px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  padding-bottom: 10px;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 570px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__menu__link {
  padding: 5px 15px;
}
.footer__menu__link--1 {
  border-right: 2px solid white;
}
.footer__menu__link--2 {
  border-right: 2px solid white;
}
.footer__menu__link--3 {
  border-right: 2px solid white;
}
@media screen and (max-width: 570px) {
  .footer__menu__link {
    margin: 5px 0;
    padding: 0;
    border: 0;
  }
}
.footer__menu__link i {
  display: inline-block;
  width: 20px;
  color: white;
  font-size: 0.7rem;
}
.footer__menu__link p {
  color: white;
}
.footer__menu__link--flex {
  display: flex;
  align-items: center;
}

.teaser {
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
.teaser__search {
  background-color: #dddddd;
  box-shadow: inset 0 3px 3px #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.teaser__search__input {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: black;
  text-align: center;
  max-width: 140px;
}
.teaser__title {
  margin: 20px 60px 10px 60px;
  font-size: 1.3rem;
  font-weight: bold;
}
.teaser__description {
  margin: 10px;
}
.teaser__btn {
  margin: 10px 0 40px 0;
  box-shadow: 0 4px 8px #aaaaaa;
}

.howto {
  max-width: 1400px;
  margin: auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 570px) {
  .howto {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.howto__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
}
.howto__step {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin: 10px 0 10px 20px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px #aaaaaa;
  background-color: #f6f6f6;
}
@media screen and (max-width: 570px) {
  .howto__step {
    flex-direction: row;
    text-align: left;
  }
}
.howto__step__number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.9rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
}
.howto__step__icon {
  min-width: 35px;
  padding: 5px 0;
  text-align: center;
  color: #7e7e7e;
}
.howto__step__description {
  font-weight: bold;
  margin-top: 3px;
  margin-left: 15px;
}

.background {
  background-color: #f6f6f6;
}

.results {
  max-width: 1400px;
  margin: auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.results__title {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
}
.results__article {
  max-width: 45%;
  margin: 20px 10px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px #aaaaaa;
  position: relative;
}
@media screen and (max-width: 570px) {
  .results__article {
    max-width: 100%;
    margin: 20px 0;
  }
}
.results__article__img {
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.results__article__tag {
  color: #008766;
  background-color: #00d4a0;
  padding: 3px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 12px;
}
.results__article__favorite {
  position: absolute;
  right: 20px;
  bottom: 25px;
  font-size: 1.3em;
}
.results__article__title {
  font-weight: bold;
  margin: 15px 0 5px 10px;
}
.results__article__location {
  margin-left: 10px;
}

.menu {
  position: relative;
  background-color: #f6f6f6;
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 570px) {
  .menu {
    min-width: 0;
  }
}
.menu__main-img img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}
.menu__content {
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -30px;
  /* TODO  : Franglais */
}
.menu__content__title {
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 100%;
}
.menu__content__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-left: 20px;
  margin-bottom: 10px;
}
.menu__content--flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
}
.menu__content__restaurant-name {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
.menu__content--article-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 570px) {
  .menu__content--article-flex {
    flex-direction: column;
  }
}
.menu__content__article {
  min-width: 360px;
}
@media screen and (max-width: 570px) {
  .menu__content__article {
    min-width: 0;
  }
}
.menu__content__article__title {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu__content__article__description {
  font-size: 0.9rem;
}
.menu__content__article__description--bold {
  font-weight: bold;
}
.menu__btn {
  text-align: center;
  padding: 40px 0 50px 0;
}

/*apparition des plats dans le menu du restau*/
.gradual-onset--1 {
  animation: gradual-onset 1000ms 0ms backwards ease-in-out;
}

.gradual-onset--2 {
  animation: gradual-onset 1000ms 200ms backwards ease-in-out;
}

.gradual-onset--3 {
  animation: gradual-onset 1000ms 400ms backwards ease-in-out;
}

.gradual-onset--4 {
  animation: gradual-onset 1000ms 600ms backwards ease-in-out;
}

.gradual-onset--5 {
  animation: gradual-onset 1000ms 800ms backwards ease-in-out;
}

.gradual-onset--6 {
  animation: gradual-onset 1000ms 1000ms backwards ease-in-out;
}

.gradual-onset--7 {
  animation: gradual-onset 1000ms 1200ms backwards ease-in-out;
}

.gradual-onset--8 {
  animation: gradual-onset 1000ms 1400ms backwards ease-in-out;
}

.gradual-onset--9 {
  animation: gradual-onset 1000ms 1600ms backwards ease-in-out;
}

@keyframes gradual-onset {
  0% {
    transform: translatey(10px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
/*fin de l'animation*/

/*# sourceMappingURL=style.css.map */
