$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-terciary : #99E2D0;
$background-color : #f6f6f6;
$tag-color: #008766;
$font-logo : 'Shrikhand', cursive;
$font-default : 'Roboto', sans-serif;
$font-secondary-color: #7e7e7e;
$breakpoint : (mobile: 570px, tablette: 1024px)