$loader-dur: 6000ms;
$num-letter: 8;
$anim-delay: $loader-dur/$num-letter;

.body__favorite {
    display: none;
    .far, .fas {
        position : absolute;
        left: 50px;
        top : 50px;
        font-size: 3rem;
    }
}

.load {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    &__letter {
        @for $i from 1 through $num-letter {
            &--#{$i} {
                animation : loader-#{$i} $loader-dur infinite ease-in-out;
             }
        }
    }
}

@for $i from 1 to 9 {
    @keyframes loader-#{$i} {
        0% {
            transform: translateX(500px);
            opacity: 0;
        }
        #{ ( $i - 1 ) * 10% } {
            transform: translateX(500px);
            opacity: 0;
        }
        #{ ( $i - 1 ) * 10% + 20% } {
            transform : translatex(10px);
            opacity: 1;
        }
        #{ ( $i - 1 ) * 10% + 30% } {
            transform : translatex(-10px);
            opacity: 1;
        }
        #{ ( $i - 1 ) * 10% + 40% } {
            transform: translatex(-500px);
            opacity: 0;
        }
        100% {
            transform: translatex(-500px);
            opacity: 0;
        }
    }
}