.body__favorite {
  display: none; }
  .body__favorite .far, .body__favorite .fas {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 3rem; }

.load {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem; }
  .load__letter--1 {
    animation: loader-1 6000ms infinite ease-in-out; }
  .load__letter--2 {
    animation: loader-2 6000ms infinite ease-in-out; }
  .load__letter--3 {
    animation: loader-3 6000ms infinite ease-in-out; }
  .load__letter--4 {
    animation: loader-4 6000ms infinite ease-in-out; }
  .load__letter--5 {
    animation: loader-5 6000ms infinite ease-in-out; }
  .load__letter--6 {
    animation: loader-6 6000ms infinite ease-in-out; }
  .load__letter--7 {
    animation: loader-7 6000ms infinite ease-in-out; }
  .load__letter--8 {
    animation: loader-8 6000ms infinite ease-in-out; }

@keyframes loader-1 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  0% {
    transform: translateX(500px);
    opacity: 0; }
  20% {
    transform: translatex(10px);
    opacity: 1; }
  30% {
    transform: translatex(-10px);
    opacity: 1; }
  40% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-2 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  10% {
    transform: translateX(500px);
    opacity: 0; }
  30% {
    transform: translatex(10px);
    opacity: 1; }
  40% {
    transform: translatex(-10px);
    opacity: 1; }
  50% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-3 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  20% {
    transform: translateX(500px);
    opacity: 0; }
  40% {
    transform: translatex(10px);
    opacity: 1; }
  50% {
    transform: translatex(-10px);
    opacity: 1; }
  60% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-4 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  30% {
    transform: translateX(500px);
    opacity: 0; }
  50% {
    transform: translatex(10px);
    opacity: 1; }
  60% {
    transform: translatex(-10px);
    opacity: 1; }
  70% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-5 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  40% {
    transform: translateX(500px);
    opacity: 0; }
  60% {
    transform: translatex(10px);
    opacity: 1; }
  70% {
    transform: translatex(-10px);
    opacity: 1; }
  80% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-6 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  50% {
    transform: translateX(500px);
    opacity: 0; }
  70% {
    transform: translatex(10px);
    opacity: 1; }
  80% {
    transform: translatex(-10px);
    opacity: 1; }
  90% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-7 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  60% {
    transform: translateX(500px);
    opacity: 0; }
  80% {
    transform: translatex(10px);
    opacity: 1; }
  90% {
    transform: translatex(-10px);
    opacity: 1; }
  100% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }
@keyframes loader-8 {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  70% {
    transform: translateX(500px);
    opacity: 0; }
  90% {
    transform: translatex(10px);
    opacity: 1; }
  100% {
    transform: translatex(-10px);
    opacity: 1; }
  110% {
    transform: translatex(-500px);
    opacity: 0; }
  100% {
    transform: translatex(-500px);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
