.footer {
    background-color: #353535;
    color: white;
    padding: 15px;
    &__logo {
        font-family: $font-logo;
        padding-bottom: 10px;
    }
    &__menu {
        &__link {
            margin: 5px 0;
        }
        &__link {
            i {
            margin-right: 10px;
            color: white;
            font-size: 0.7rem;
            }
            p {
            color: white;
            }
            &--flex {
            display: flex;
            align-items: center;
            }
        }
    }
}