.footer {
    background-color: #353535;
    color: white;
    padding: 15px;
    &__logo {
        font-family: $font-logo;
        padding-bottom: 10px;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        @include mobile {
            flex-direction: column;
        }
        &__link {
            padding: 5px 15px;
            @each $child in 1, 2, 3 {
                &--#{$child} {
                    border-right : 2px solid white;
                }
            }
            @include mobile {
                margin: 5px 0;
                padding: 0;
                border: 0;
            }
            i {
                /* TODO : ajouter display inline-block et une largeur (15px) */
                /* TODO  : Attention aux indentations */
            margin-right: 10px;
            color: white;
            font-size: 0.7rem;
            }
            p {
                /* TODO  : Attention aux indentations */
            color: white;
            }
            &--flex {
                /* TODO  : Attention aux indentations */
            display: flex;
            align-items: center;
            }
        }
    }
}