.header {
    text-align: center;
    padding: 10px;
    position: relative;
    &__logo {
        position: relative;
        font-family: $font-logo;
        font-size: 1.5rem;
    }
    &__arrow {
        text-align: start;
        font-size: 1.3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}