.header {
    text-align: center;
    padding: 10px;
    &__logo {
        position: relative;
        font-family: $font-logo !important;
        font-size: 1.5rem;
    }
    &__arrow {
        text-align: start;
        font-size: 2rem;
        position: absolute;
        display: none;
    }
}

 