.background {
    background-color: $background-color;
}

.results {
    max-width: 1400px;
    margin: auto;
    padding : 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__title {
        font-size: 1.3rem;
        font-weight: bold;
        width: 100%; 
        margin-bottom: 20px;
    }
    &__article {
        width: 45%;
        margin: 20px 10px;
        @include mobile {
            width: 100%;
            margin: 10px 0;
        }
        height: 250px;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        @include shadow;
        position: relative;
        &__img {
            object-fit: cover;
            width: 100%;
            height: 175px;
        }
        &__tag {
            color: $tag-color;
            background-color: lighten($tag-color, 15%);
            padding: 3px 8px;
            font-size: 0.8rem;
            font-weight: bold;
            position: absolute;
            right: 12px;
            top: 12px;
        }
        &--flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__title {
            font-weight : bold;
            margin: 15px 0 5px 10px;
        }
        &__location {
            margin-left: 10px;
        }
    }
}