.howto {
    max-width: 1400px;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include mobile {
        flex-direction: column;
        justify-content: flex-start;
    }
    &__title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom : 20px;     
        width: 100%;
    }
    &__step {
        min-width: 30%;
        display: flex;
        flex-direction: column;
        text-align: center;
        @include mobile {
            flex-direction: row;
            text-align: left;
        }
        position: relative;
        margin: 10px 0 10px 20px;
        padding: 1.5rem;
        border-radius: 1rem;
        @include shadow;
        background-color: $background-color; 
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
                }
            }
        &:hover > &__icon {
            color: $color-primary
        }
        &::after {
            content:"";
            position: absolute;
            border-radius: 1rem;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: lighten($color-primary, 30%);
            z-index: -1;
            opacity: 0;
            transition: opacity 250ms ease-in-out;
        }
        &__number {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -0.9rem;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            color: white;
        }
        &__icon {
            min-width: 35px;
            padding: 5px 0;
            text-align: center;
            color : $font-secondary-color;
        }
        &__description {
            font-weight: bold;
            margin-top: 3px;
            margin-left: 15px;
        }
    }
}