.menu {
    position: relative;
    background-color: $background-color;
    max-width: 1300px;
    margin: auto;
    @include mobile {
        min-width: 0;
    }
    &__main-img img {
        max-height: 500px;
        width: 100%;
        object-fit : cover;
    }
    &__content {
        border-radius: 30px 30px 0 0;
        background-color: $background-color;
        position: relative;
        top: -30px;
        &__title {
            padding-top: 20px;
            padding-left: 20px;
            margin-bottom: 5px;
            width: 100%;
        }
        &__line {
            width: 40px;
            height: 3px;
            background-color: $color-terciary;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        &__favorite {
            position: absolute;
            top: 35px;
            right: 50px;
        }
        &__restaurant-name {
            font-family: $font-logo;
            font-size: 1.5rem;
            padding: 30px 20px 20px 20px;
        }
        &--article-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            @include mobile {
                flex-direction: column;
                align-items: center;
            }
        }
        &__article {
            width: 360px;
            overflow: hidden;
            margin: 10px 20px ;
            @include mobile {
                width: 90%;
                margin : 10px 0;
            }
            &:hover {
                cursor : pointer;
            }
            &:hover > &__check {
                margin-right: 0;
            }
            &:hover > &__check i {
                animation: check-turn 500ms ease-out;
            }
            &--flex {
                display: flex;
                justify-content: space-between;
            }
            &__title {
                font-weight: bold;
                margin-bottom : 5px;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 10px;
            }
            &__description {
                flex: 1;
                font-size: 0.9rem;
                min-width: 0;
                &--bold {
                    font-weight: bold;
                }
                p {
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-right: 10px;
                }
            }
            &__check {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                background-color: $color-terciary ;
                margin-right: -60px;
                transition: margin 500ms ease-in-out;
                i {
                    color: white;
                    font-size: 1.1rem;
                }
            }
        }
    }
    &__btn {
        text-align: center;
        padding: 40px 0 50px 0;
    }
}