
/*apparition des plats dans le menu du restau*/

@for $i from 1 to 10 {
    .gradual-onset--#{$i} {
        animation : gradual-onset 1000ms #{( $i - 1 ) * 200ms} backwards ease-in-out;
    } 

}

@keyframes gradual-onset {
    0% {
        transform : translatey(10px);
        opacity : 0;
    }
    100% {
        transform : translatey(0);
        opacity : 1;
    }
}

/*fin de l'animation*/

/*animation check plat*/

@keyframes check-turn {
    0% {
        transform: rotate(0.25turn);
    }
    50% {
        transform: rotate(0.25turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
