.btn {
    display: inline-block;
    color: white !important;
    padding : 0.9rem 1.6rem;
    @include shadow;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: none;
    padding-left: 30px;
    padding-right : 30px;
    position: relative;
    background: linear-gradient(
        to bottom,
        $color-secondary,
        $color-primary
    );
    &:hover {
        background: linear-gradient(
            to bottom,
            lighten($color-secondary, 3%),
            lighten($color-primary, 3%)
        );
        @include hover-shadow;
    }
}