.card {
    background-color: white;
    border-radius: 15px;
    @include shadow;
    margin: 10px 0;
    &__content {
        padding:  10px 20px;
        min-width: 0;
        flex:1
    }
    &--flex {
        display: flex;
        justify-content: space-between;
        min-width: 0;
    }
}