.favorite {
    font-size: 1.4rem;
    position: relative;
    height: 100%;
    width: 40px;
    &__1 {
        color: $font-secondary-color;
        position: absolute;
        z-index : 1;
        transform: translateY(-50%);
    }
    &__2 {
        position: absolute;
        transform: translateY(-50%);
        z-index : 2;
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover {
            opacity: 1;
            transition: opacity 500ms linear;
        }
    }
}