@import "./utils/variables"; 

.spiner {
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    width: 130px;
    justify-content: center;
    align-content: center;
    &__square {
        margin: 1px;
        height: 50px;
        width: 50px;
        background-color : $color-primary;
        @for $i from 1 to 5 {
            &--#{$i} {
                animation : spinner-#{$i} infinite ease-in-out;
            //    animation-delay: $anim-delay * ( $i - 1 );
                animation-duration: $anim-dur;
            }
        }
    }
}

/**
    1er  : 0 - 25 %
    2nd  : 25 - 50 %
    3ème : 50 - 75 %
    4ème : 75 - 100 %
 */
//@for $i from 1 to 4 {
//    @keyframes spinner-#{$i} {
@each $i, $list in $anim {
    @keyframes spinner-#{$i} {
        @each $p, $v in $list {
            #{$p}% {
                transform : scale($v);
            }
        }
    }
}

//}
